@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* Override rem size */

:root {
    font-size: 11.2px;
    scroll-behavior: smooth;
}

/* Root variables */

:root {
    --color-900: #0b0e11;
    --color-800: #151a21;
    --color-700: #242c37;
    --color-600: #323d4d;
    --color-300: #5d7290;
    --color-200: #b2bdcd;
    --color-100: #dee3ea;

    --color-accent: #49b583;
}

/* Body */

body {
    font-family: "Poppins", sans-serif;
    overscroll-behavior-y: contain;
    background-color: var(--color-900);
    color: var(--color-100);
    overflow: hidden;
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p, h1, h2 {
    margin: 0px;
    padding: 0px;
    color: var(--color-100);
    user-select: none;
}

img {
    user-select: none;
}

a {
    color: var(--color-accent);
    text-decoration: underline;
}

/* Tailwind like classes */

.bg-900 {
    background-color: var(--color-900);
}

.bg-800 {
    background-color: var(--color-800);
}

.bg-700 {
    background-color: var(--color-700);
}

.color-accent {
    color: var(--color-accent);
}

.border-accent {
    border-color: var(--color-accent);
}

.color-100 {
    color: var(--color-100);
}

.border-100 {
    border-color: var(--color-100);
}

.fill-100 {
    fill: var(--color-100);
}

.bg-100 {
    background-color: var(--color-100);
}

.color-200 {
    color: var(--color-200);
}

/* Top menu */

#top-menu {
    /* background-color: #0b0e11BB;
    backdrop-filter: blur(5px); */
    background-color: var(--color-900);
}

/* Menu label animation */

#menu-label div {
    transition: transform 0.2s, margin-top 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
}

/* Intro arrows link */

#intro-arrows-link svg:nth-child(1) {
    transition: margin-top 0.2s;
}

#intro-arrows-link:hover svg:nth-child(1) {
    margin-top: 1rem;
    transition: margin-top 0.2s linear 0.1s;
}

#intro-arrows-link:hover svg:nth-child(2) {
    margin-top: 2.5rem;
}

:checked + #menu-label div {
    transition: transform 0.2s linear 0.2s, margin-top 0.2s, opacity 0.2s;
}

:checked + #menu-label div:nth-child(1) {
    margin-top: 2rem;
    transform: rotate(-45deg);
}

:checked + #menu-label div:nth-child(2) {
    opacity: 0;
}

:checked + #menu-label div:nth-child(3) {
    margin-top: -1.6rem;
    transform: rotate(45deg);
}

.mobileMenuOpen {
    left: 0px;
}

/* Petite vue */

[v-cloak] {
    display: none;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 17px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-700);
    border-radius: 10px;
    border: 5px solid var(--color-900);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-600);
}

@media screen and (max-width: 1000px) { 
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}