@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* Override rem size */

:root {
    font-size: 11.2px;
    scroll-behavior: smooth;
}

/* Root variables */

:root {
    --color-900: #0b0e11;
    --color-800: #151a21;
    --color-700: #242c37;
    --color-600: #323d4d;
    --color-300: #5d7290;
    --color-200: #b2bdcd;
    --color-100: #dee3ea;

    --color-accent: #49b583;
}

/* Body */

body {
    font-family: "Poppins", sans-serif;
    overscroll-behavior-y: contain;
    background-color: var(--color-900);
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p, h1, h2 {
    margin: 0px;
    padding: 0px;
    color: var(--color-100);
    user-select: none;
}

img {
    user-select: none;
}

a {
    color: var(--color-accent);
    text-decoration: underline;
}

/* Tailwind like classes */

.bg-900 {
    background-color: var(--color-900);
}

.bg-800 {
    background-color: var(--color-800);
}

.color-accent {
    color: var(--color-accent);
}

.border-accent {
    border-color: var(--color-accent);
}

.color-100 {
    color: var(--color-100);
}

.border-100 {
    border-color: var(--color-100);
}

.fill-100 {
    fill: var(--color-100);
}

.color-200 {
    color: var(--color-200);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 17px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-700);
    border-radius: 10px;
    border: 5px solid var(--color-900);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-600);
}

@media screen and (max-width: 1000px) { 
    ::-webkit-scrollbar {
        width: 0px;
    }
}