@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* Override rem size */

:root {
    font-size: 11.2px;
    scroll-behavior: smooth;
}

/* Root variables */

:root {
    --color-900: #0b0e11;
    --color-800: #151a21;
    --color-700: #242c37;
    --color-600: #323d4d;
    --color-300: #5d7290;
    --color-200: #b2bdcd;
    --color-100: #dee3ea;

    --color-accent: #49b583;
}

/* Body */

body {
    font-family: "Poppins", sans-serif;
    overscroll-behavior-y: contain;
    background-color: var(--color-900);
    color: var(--color-100);
    overflow: hidden;       
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p, h1, h2 {
    margin: 0px;
    padding: 0px;
    color: var(--color-100);
    user-select: none;
}

img {
    user-select: none;
}

a {
    color: var(--color-accent);
    text-decoration: underline;
}

/* Tailwind like classes */

.bg-900 {
    background-color: var(--color-900);
}

.bg-800 {
    background-color: var(--color-800);
}

.bg-700 {
    background-color: var(--color-700);
}

.color-accent {
    color: var(--color-accent);
}

.border-accent {
    border-color: var(--color-accent);
}

.fill-accent {
    fill: var(--color-accent);
}

.color-100 {
    color: var(--color-100);
}

.border-100 {
    border-color: var(--color-100);
}

.fill-100 {
    fill: var(--color-100);
}

.bg-100 {
    background-color: var(--color-100);
}

.color-200 {
    color: var(--color-200);
}

/* Loader */

.loading-svg {
    stroke-width: 5px;
    stroke-dasharray: 700;
    stroke-dashoffset: 0;
    animation: appear 1s ease-in-out 0s 1 normal forwards, stroke-animation 2.1s ease-in 0s 1 normal forwards;
    stroke: unset;
}

@keyframes appear {
    0% { fill: var(--color-900); }
    100% { fill: var(--color-700); }
}

@keyframes stroke-animation {
    0% { stroke-dashoffset: 700; stroke: var(--color-accent); }
    90% { stroke-dashoffset: 0; stroke: var(--color-accent);  fill: var(--color-700); }
    100% { stroke-dashoffset: 0; stroke: var(--color-accent); fill: var(--color-accent); }
}

#loader {
    animation: hide 0.5s ease-in-out 2.2s 1 normal forwards; /* 0.5s 2.2s */
}

@keyframes hide {
    0% { opacity: 1; z-index: 50; }
    99% { opacity: 0; z-index: 50; }
    100% { opacity: 0; z-index: -1; }
}

/* Top menu */

/* #top-menu {
    background-color: #0b0e11BB;
    backdrop-filter: blur(5px);
} */

/* Menu label animation */

#menu-label div {
    transition: transform 0.2s, margin-top 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
}

/* Intro arrows link */

#intro-arrows-link svg:nth-child(1) {
    transition: margin-top 0.2s;
}

#intro-arrows-link:hover svg:nth-child(1) {
    margin-top: 1rem;
    transition: margin-top 0.2s linear 0.1s;
}

#intro-arrows-link:hover svg:nth-child(2) {
    margin-top: 2.5rem;
}

:checked + #menu-label div {
    transition: transform 0.2s linear 0.2s, margin-top 0.2s, opacity 0.2s;
}

:checked + #menu-label div:nth-child(1) {
    margin-top: 2rem;
    transform: rotate(-45deg);
}

:checked + #menu-label div:nth-child(2) {
    opacity: 0;
}

:checked + #menu-label div:nth-child(3) {
    margin-top: -1.6rem;
    transform: rotate(45deg);
}

.mobileMenuOpen {
    left: 0px;
}

/* Socials svg */

.social-svg:hover path {
    transition: 0.2s;
    fill: var(--color-accent);
}

/* Appear animation */

.fade-in-1 {
    animation: fade-in 0.5s ease-in-out 2.5s 1 normal forwards; /* 0.5s 2.5s */
    opacity: 0;
}

.fade-in-2 {
    animation: fade-in 0.5s ease-in-out 2.8s 1 normal forwards; /* 0.5s 2.8s */
    opacity: 0;
}

.fade-in-3 {
    animation: fade-in 0.5s ease-in-out 3.8s 1 normal forwards; /* 0.5s 3.8s */
    opacity: 0;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.drop-21 {
    transform: translate(0px, -15px);
    opacity: 0;
    animation: drop 0.4s ease-in-out 2.9s 1 normal forwards; /* 0.4s 2.9s */
}

.drop-22 {
    transform: translate(0px, -15px);
    opacity: 0;
    animation: drop 0.4s ease-in-out 3.2s 1 normal forwards; /* 0.4s 3.2s */
}

.drop-23 {
    transform: translate(0px, -15px);
    opacity: 0;
    animation: drop 0.4s ease-in-out 3.5s 1 normal forwards; /* 0.4s 3.5s */
}

.drop-31 {
    transform: translate(0px, -15px);
    opacity: 0;
    animation: drop 0.4s ease-in-out 4.5s 1 normal forwards; /* 0.4s 4.5s */
}

.drop-32 {
    transform: translate(0px, -15px);
    opacity: 0;
    animation: drop 0.4s ease-in-out 4.2s 1 normal forwards; /* 0.4s 4.2s */
}

.drop-33 {
    transform: translate(0px, -15px);
    opacity: 0;
    animation: drop 0.4s ease-in-out 3.9s 1 normal forwards; /* 0.4s 3.9s */
}

@keyframes drop {
    0% { transform: translate(0px, -15px); opacity: 0; }
    100% { transform: translate(0px, -0px); opacity: 1; }
}

/* Top name easter egg */

#top-name:hover:after {
    visibility: visible;
    opacity: 1;
}

#top-name:hover:before {
    visibility: visible;
    opacity: 1;
}

#top-name:after {
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    content: "🐇";
    position: absolute;
    padding: 12px;
    border-radius: 20px;
    background-color: var(--color-800);
    margin-top: -100px;
    margin-left: -185px;
    font-size: 45px;
}

#top-name:before {
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    content: "";
    height: 0px;
    width: 0px;
    border: 20px solid transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: var(--color-800);
    margin-left: 420px;
    margin-top: -35px;
    position: absolute;
}

@media screen and (max-width: 1062px) { 
    #top-name:hover:after {
        visibility: hidden;
    }
    
    #top-name:hover:before {
        visibility: hidden;
    }
}

/* Petite vue */

[v-cloak] {
    display: none;
}

/* Selection */

::selection {
    color: var(--color-100);
    background: var(--color-accent);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 17px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-700);
    border-radius: 10px;
    border: 5px solid var(--color-900);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-600);
}

@media screen and (max-width: 1000px) { 
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}